body {
  margin: 10px;
  padding: 10px;
}

#funcText {
  margin-top: 10px;
  padding: 2px;
  font-size: 1.2em;
  width: 300px;
  background-color: #fff;
  border: 1px solid #ccc;
}

#funcDefn {
  margin-top: 5px;
  padding: 2px;
  font-size: 1.2em;
}

#funcName {
  margin-top: 20px;
  padding: 2px;
  font-size: 1.2em;
}

#funcDefn pre {
  font-size: 1.1em;
}

.autoCompleteResult {
  font-size: 1.2em;
  padding: 2px;
}
